<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.caobo.slideviewdemo">

    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".toolbar.ToolBarActivity" />
        <activity android:name=".toolbar.ToolBarDemoActivity" />
        <activity android:name=".tablayout.TabLayoutActivity" />
        <activity android:name=".snackbar.SnackBarActivity" />
        <activity android:name=".textinputlayout.TextInputLayoutActivity" />
        <activity android:name=".drawerlayout.DrawerLayoutActivity" />
        <activity android:name=".drawerlayout.DrawerLayoutActivity1" />
        <activity android:name=".drawerlayout.DrawerLayoutActivity2" />
        <activity android:name=".drawerlayout.DrawerLayoutActivity3" />
        <activity android:name=".drawerlayout.DrawerLayoutActivity4" />
        <activity android:name=".drawerlayout.DrawerLayoutActivity5" />
        <activity android:name=".searchview.SearchViewActivity" />
        <activity android:name=".cardview.CardViewActivity" />
        <activity android:name=".palette.PaletteActivity" />
    </application>

</manifest>